
.d_api00_00{
    
    width:50rem;
    height:24rem;
 
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

}

@keyframes grfc00{
    0%{opacity: 0;}
    }
    

.d_api00_03{
    height:3rem;
    width:44rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

}







.d_api00_01{
    width:22rem;
    height:20rem;
  box-shadow: 0.1rem 0 0.1rem 0.1rem rgb(20, 20, 20);
  background-color: rgb(42, 46, 49);
}

.d_api00_02{
    width:22rem;
    height:20rem;
  box-shadow: 0.1rem 0 0.1rem 0.1rem rgb(20, 20, 20);
    overflow: scroll;
    background-color: rgb(36, 50, 59);
}

.h2_api00_00{
   text-align: center;
    color:rgb(175, 175, 175);
    font-weight: 600;
    font-family: monospace;
    border-top: 0.1rem rgb(95, 94, 94) solid ;
    border-bottom: 0.1rem rgb(95, 94, 94) solid;

}

.h3_api00_00{
    text-align: center;
     color:rgb(175, 175, 175);
     font-weight: 600;
     font-family: monospace;

 
 }
.h1_api00_00{
    
    color:rgb(180, 176, 176);
    font-weight: 600;
    font-family: monospace;
text-decoration: underline;
  text-align: center;

}

.btn_api00{
    margin: 0 0 0 1rem;
   padding:0.4rem;
    background:rgb(84, 86, 87);
    border: 0;
    border-radius: 0.1rem;
    color:rgb(179, 176, 176);
    font-size: 1rem;
    font-weight: 600;
transition: 0.3s;
}
.btn_api00:hover{
    background:rgb(61, 62, 63);
    cursor: pointer;
  
}

.p_api00_00{
    
    color:rgb(167, 167, 167);
    font-weight: 600;
    font-family: monospace;

    padding: 1rem;
}

.d_api00_02::-webkit-scrollbar-thumb {
        
    background-color: rgb(172, 175, 175);
    border-radius: 4px;
    transition: 1s;
    box-shadow: -0.5vh 0vh 1vh 0.0vh rgba(93, 111, 114, 0.075);
    
  
  }
  
  .d_api00_02::-webkit-scrollbar {
  width: 1rem;   
  height: 0rem;   
  background:rgb(98, 101, 102);
  transition: 1s;
  }

  .d_api00_gp00{
 
      display: flex;
      flex-flow: nowrap;
  }