
@media only screen and (max-width:426px){

    .d_api00_00{
        width:23rem;
        height: 50rem;
margin: 2rem 0 0 0;
    
    }
.d_api00_03{
    width:100vw;
    height:7rem;
    margin : 0 0 1rem 0;
    flex-flow: column nowrap;
}

 .d_api00_gp00{
flex-flow: column nowrap;  
}




}




