
.d_gfc04{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem 0.2rem 1rem;
  
}







.d_gfc00{
    width:50rem;
    height:24rem;
 


    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    animation-name: grfc00;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  justify-content: space-around;
}

@keyframes grfc00{
    0%{opacity: 0;}

}

.d_gfc01{
    width:7rem;
    height:10rem;
    display: flex;
  align-items: flex-end;
  border-top:solid 0.1rem rgb(92, 92, 92) ;
justify-content: center;
}
.d_gfc01_00{
    border:solid 0.1px;
    display: flex;
    
    width:10rem;
    height:10rem;


    align-items: center;
    justify-content: center;
}

.d_gfc_dnmco01{
    
    width: 1.2rem;
    background: white;
    transition: 1s;
    animation-name: grfc_dnmc00;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes grfc_dnmc00{
    0%{
        height:0rem;
    }
}


.d_gfc02{
    width:10rem;
    height:15rem;
 border-left:solid 0.1rem white;
 border-bottom:solid 0.1rem white;
 display: flex;
 align-items: flex-end;
justify-content: left;
}

.d_gfc03{
    width:5rem;
    height:15rem;  

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.inp_gfc00{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    color: #222222;
    text-align: center;
    width: 4rem;
    height: 1.8rem;
    outline: none;
    border: none;
    border-radius: 0.3rem 0.3rem 0.1rem 0.1rem;
    background: #f2f9fa;
}

.h1_gfc00{
    color:rgb(168, 167, 167);
   border: 0;
   font-weight: 800;
    font-family: monospace;
    text-decoration:underline;
}