@media only screen and (max-width:426px){
   
.d_gfc00{
    
    margin: 2rem 0 0 0;
    flex-flow: column nowrap;

background: linear-gradient(270deg,rgb(13, 16, 17) 2%, rgb(23, 44, 53) 49%, rgb(51, 103, 126) 100%);
}


}