@media only screen and (max-width:426px){

.d_Glra00{
    margin:6rem 0 0 0;
    flex-flow: column nowrap;
    height:30rem;
}


.d_glria_01{
    margin: 1rem 0 0 0;
    width:20rem;
    height:10rem;
}
.d_glra01{
    flex-flow: column nowrap;
}
}