

.d_Glra00{
    width:50rem;
    height:24rem;

   
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.h1_glria00{
  margin: 1rem;
  color:rgb(180, 176, 176);
  font-weight: 600;
  font-family: monospace;
}
.d_glra01{
background-color: rgb(38, 48, 56);
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

@keyframes grfc00{
    0%{opacity: 0;}

    100%{}
}

.d_glria_01{
  background-color: #1c232e;
  box-shadow:inset 0 -4rem 0.2rem 0.2rem #252b35;
   
    width: 10rem;
    height: 15rem;
opacity: 0.8;
    border-radius: 0.1rem 0.1rem 0rem 0rem;
    display: flex;
    overflow: scroll;
    flex-flow: row wrap;
    overflow: scroll;
    border-bottom: solid rgb(64, 87, 94) 0.2rem;
    border-left: solid rgb(66, 102, 110) 1rem;
    border-top: solid rgb(66, 102, 110) 1.8rem;

} 

.d_dts_img00{
    width: 6rem;
    height: 5rem;
   
    margin: 1rem 1rem 1rem 1rem;
    transition: 0.3s;
    cursor: pointer;
   
    border-radius: 0.2rem 0.2rem 0.8rem 0.2rem;
  }

.d_dts_img00:hover{
  transform: translate(-0.05rem, 0);
  background-color: rgba(18, 28, 59, 0.212);
}


.d_img_slc{
  width:14rem;
 height:14rem;

 background-repeat: no-repeat;

 background-size: cover;
 border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
animation-name: img_slc_galeria;
animation-duration: 0.5s;
animation-iteration-count: 1;
animation-timing-function: linear;
}

@keyframes img_slc_galeria {
0%{
opacity: 0;
}

}

  .d_dts_img_ttle00{
    text-align: center;
    width: 6rem;
    height: 1.5rem;
    background: #384747;
    overflow: hidden;
    color: #d2d4ce;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 600;}

    .d_dts_img01{
        width: 4rem;
        
        height: 2rem;
        background: #2b3a49;
        border-radius: 0 0 0.3rem 0rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1rem;
        font-weight: 800;
        color: #9aa0a1;
        display: flex;
        justify-content: center;
        align-items: center;
    
      
      }

      .d_img_opcn00{
        display: flex;
        flex-flow: row nowrap;
      background-color: rgb(36, 38, 46);
      box-shadow: inset 0 -3rem 0.2rem 0.2rem rgb(30, 32, 56);
      padding: 1rem;
      }

      .d_mstr_img00
      {
        
          width: 17rem;
          height: 15rem;
      opacity: 0.8;
          border-radius: 0.1rem 0.1rem 1rem 0.1rem;
         
          display: flex;
          flex-flow: row nowrap;
        align-items: center;
        justify-content: left;
      
      }




      .d_mstr_img02
{ 
 
    width:2rem;
 height: 15rem;

 overflow: scroll;


 
}

.d_mstr_img02::-webkit-scrollbar-thumb {
 
    background-color: rgb(255, 255, 255);
   
    transition: 1s;

   
    
   
   }
   
   .d_mstr_img02::-webkit-scrollbar {
    overflow: hidden;
   width: 1.0rem;   
   height: 0rem;   
   background:rgb(92, 100, 100);
   transition: 1s;
   
   }

   .d_scroll00{
    height: 50rem;
  }

  .d_glria_01::-webkit-scrollbar-thumb {
        
    background-color: rgb(92, 135, 145);
    border-radius: 4px;
    transition: 1s;
    box-shadow: -0.5vh 0vh 1vh 0.0vh rgba(93, 111, 114, 0.075);
    
  
  }
  
  .d_glria_01::-webkit-scrollbar {
  width: 1rem;   
  height: 0rem;   
  background:rgb(42, 72, 78);
  transition: 1s;
  }