@media only screen and (max-width:426px){
.d_skl_descripcion{
    flex-flow:column-reverse;
    margin: 1rem 5vw 0 5vw ;
    align-items: center;
}



    .d_sklgp01{
        flex-flow: column nowrap;
 
    
    }
    .img_formal00{
        width:10rem;
        height:15em;
        
        }
.p_skl00{
    text-align:center;
}


.p_skl01{
    width:75VW;

}

.d_ilustracion_svg00{
    width:96vw;
}


}