

.d_skl00{
margin: 2rem 0 0 0;
    width:55rem;
   

    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    display: flex;
    flex-flow: column nowrap;
 

    align-items: center;
justify-content: center;
    animation-name: skl00;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
}

.d_sklgp00{
    margin:1rem 0 0 0;
    transition: 2.5s;
display: flex;
align-items: center;
flex-flow: column nowrap;
border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
padding: 1rem;
}

@keyframes skl00 {
    0%{
        transform: translate(1rem, 0);
    }
}

.d_sklgp01{
    width: 99vw;
  background-color: rgba(67, 104, 136, 0.548);
    padding: 0rem 0 2rem 0rem;
   box-shadow:inset 0 -5rem 0.1rem 0.1rem rgb(80, 113, 151);
    display: flex;
    flex-flow: row nowrap;
justify-content: center;
align-items: center;



}




.p_skl00{
    user-select: none; 
    font-size: 1.6rem;
    color: rgb(221, 213, 213);
    text-shadow: -0.05rem -0.05rem 0.1rem rgb(124, 123, 123);
    font-weight: 800;
    font-family: monospace;
    text-align: center;  
    padding: 1rem 0 1rem 0;
}
.p_skl01{
    user-select: none; 
margin: 1rem 0 0 0; 
    font-size: 1.6rem;
    color: rgb(111, 186, 202);
    text-shadow: -0.05rem -0.05rem 0.1rem rgb(124, 123, 123);
    font-weight: 800;
    font-family: monospace;
 box-shadow: 0 0 0.1rem 0.1rem rgb(41, 110, 90);
    background-color: darkcyan; 
    padding: 1rem;
    border-radius: 0.2rem;
    width:60rem;
    text-align:center;
   
}

.p_skl01:after{
    content: "_";
    animation-name:skl_00;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: darkcyan; 
   
}

@keyframes skl_00{
    0%{
         
        content: "";
    }
}



.h1_skl00{
    font-size: 1.6rem;
    color: rgb(212, 211, 211);
    text-shadow: -0.05rem -0.05rem 0.1rem rgb(124, 123, 123);
    font-weight: 800;
    font-family: monospace;
    text-align: center;
    height:2rem;
    width: 12rem;
background-color: rgb(100, 140, 143);
    user-select: none; 
    border-radius: 0 0 2rem 2rem;
 
}

.d_skl01{
    width:10rem;
    height:10rem;
    overflow: hidden;
padding: .5rem;
    margin:0.8rem 0.8rem 0 0.8rem;
display: flex;
align-items: center;
justify-content: center;


border-radius:0 0 5rem 5rem;

transition: 1s;
}
.d_skl01:hover{
    transform: translate(-0.2rem, 0);
}


.skl01_ts00{
    opacity: 0;
    transform: translate(5rem,0rem);
}
.skl01_ts01{
    opacity: 1;
    transform: translate(0rem,0rem);
}


.d_skl02{

   

 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
align-items: center;
}

.d_skl03{
    width:8rem;
    height:4rem;
    background:rgb(204, 170, 170);
  
}

.D_skl00{
    margin: 2rem 0 0 0;
  
 
   display:flex;
    flex-flow: column nowrap;
 align-items: center;
justify-content:center;

 
}


.d_sklimg00{
    margin: 1rem 0 0 0;
    width:5rem; height:5rem;  
    background-Size:5rem 5rem; 
    background-Repeat:no-repeat;
    background-color: rgb(182, 192, 197);
    border-radius: 5rem;
filter: grayscale(40%);
}


.d_ilustracion_svg{
  
  margin: 2rem 0 0 0;  
    width:20rem;
  
    height:13.3rem;
    display: flex;
   flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.d_ilustracion_svg00{
    width:22rem;
    top:10rem;
    border-radius: 50%;
    background-color: #e9e7da;
   box-shadow: inset 0 0 0.3rem 0.3rem #e9e7de;
      height:3rem; 
      position: absolute;
      z-index: 8;
}
.img_res00{
    z-index: 9;  
}

#Capa_2{
margin: 0 0 0 2rem;
    transform: scale(3);
    width:3.5rem;
    height:3.3rem;
  z-index: 9;
  filter: grayscale(20%);
}
#Capa_3{
    transform: scale(3);
    width:3.5rem;
    height:3.3rem;  
    z-index: 9;
    filter: grayscale(20%);
}


.st0a{fill:#A8CDD3;}
.st1a{fill:#E3F3F9;}
.st2a{fill:#EFEDED;}
.st3a{fill:#C6E0DE;}
.st4a{fill:#EDEDED;}
.st5a{fill:#FFFFFF;}
.st6a{fill:#DBDBDB;}
.st7a{fill:#BDD6D3;}
.st8a{fill:#A1D7E3;}
.st9a{fill:#9FD3DB;}
.st10a{fill:#64C0BF;}
.st11a{fill:#61B5B3;}
.st12a{fill:#FCDEA9;}
.st13a{fill:#F3D6A7;}
.st14a{fill:#A8C5E9;}
.st15a{fill:#A1BEDD;}
.st16a{fill:#F8CCE1;}
.st17a{fill:#EEC6DC;}


.st0w{fill:#E4E8B5;}
	.st1w{fill:#E3F3F9;}
	.st2w{fill:#E8E8E8;}
	.st3w{fill:#FFFFFF;}
	.st4w{fill:#F8F7F6;}
	.st5w{fill:#EAEAEA;}
	.st6w{fill:#E0E0E0;}
	.st7w{fill:#F4F4F4;}
	.st8w{fill:#DEE2C3;}
	.st9w{fill:#EFEFEF;}
	.st10w{fill:#FCDEA9;}
	.st11w{fill:#B7DAB4;}
	.st12w{fill:#A8C5E9;}
	.st13w{fill:#F8CCE1;}
	.st14w{fill:#ABDDF9;}
	.st15w{fill:#DDD99E;}
	.st16w{fill:#64C0BF;}
	.st17w{fill:#8DA9D9;}
	.st18w{fill:#F7BEAA;}
	.st19w{fill:#C6E1C4;}
	.st20w{fill:#A1D7E3;}
	.st21w{fill:#C6E0DE;}
	.st22w{fill:#EFEDED;}
	.st23w{fill:#EDEDED;}
	.st24w{fill:#DBDBDB;}
	.st25w{fill:#BDD6D3;}
	.st26w{fill:#C0D8BE;}
	.st27w{fill:#EEC6DC;}
	.st28w{fill:#A1BEDD;}
	.st29w{fill:#9FD3DB;}
	.st30w{fill:#E0AFA0;}
	.st31w{fill:#B3D1B0;}
	.st32w{fill:#61B5B3;}
	.st33w{fill:#87A2CC;}
	.st34w{fill:#D1CB99;}
	.st35w{fill:#A3D3E8;}
	.st36w{fill:#F3D6A7;}