#svg_animacion_pc_formal{
    z-index: 9;
    width:13rem;
    height:13rem;
    transform: scale(1.7);
    

}

.svg_formal0{fill:#A3BBC1;}
	.svg_formal1{fill:#EAEAD7;}
	.svg_formal2{fill:#E0DFC6;}
	.svg_formal3{fill:#F4F2F1;}
	.svg_formal4{fill:#8EACAD;}
	.svg_formal5{fill:#646362;}
	.svg_formal6{fill:#E2DCDC;}
	.svg_formal7{fill:#C0CCCE;}
	.svg_formal8{fill:#96B5BC;}
	.svg_formal9{fill:#97B3B8;}
	.svg_formal10{fill:#58595A;}
	.svg_formal11{fill:#5B5C5C;}
	.svg_formal12{fill:#A9BFC4;}
	.svg_formal13{
        animation-iteration-count: infinite;
        animation-duration: 0.3s;
        animation-name: animacion_svg_formal00;
        opacity:0.02;fill:#e6e4d9;enable-background:new    ;}


@keyframes animacion_svg_formal00 {
  
    50%{opacity:0.08 ;
        fill:#f0f0c8;
    }
}


#svg_mar{
	width:100%; height:100%; 
	z-index: 8;
}
#svg_bote{
	width:100%; height:100%; 
	z-index: 9;
}


#agua00{
	animation-name: mar00;
	animation-duration:10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	

}

@keyframes mar00 {
	
	0%{
d:path('M0,7c2.7-1,6.7-2.4,11.8-3.6C25.4,0,34.8,0.6,53,0.9c23.2,0.4,18.9-0.4,39.2,0.1c18.1,0.4,20.7,1,34.3,0.8 c10.8-0.1,11.2-0.5,26.6-0.8c11.5-0.2,21.1-0.1,27.6-0.1c12.7,0.1,13.7,0.3,23,0.3c13.9,0.1,19.4-0.3,31.3-0.5 c22.5-0.3,20.1,0.7,39.9,0.4c25.9-0.4,35.3-2.2,51.8,2.2C331.5,4.6,335.4,6,338,7')
	}


40%{d:path('M0,7c6.4-0.8,14.9-1.7,24.9-2.5C31,4,41.7,3.1,53.7,3c20.6-0.3,20.8,1.7,40.2,1.7c20,0,19.3-2.2,38.4-1.7 c13.5,0.3,16.3,1.5,30.4,1.3c12.6-0.2,13.3-1.1,25.3-1.2c15.1-0.1,16.8,1.4,31,1.6c16.1,0.3,16-1.6,35.6-2c22.9-0.5,19.6,2.1,35.6,1 c14.5-1.1,23.8-3.7,37.8-0.1C332.3,4.6,335.8,6,338,7')}

100%{
d:path('M0,7c2.7-1,6.7-2.4,11.8-3.6C25.4,0,34.8,0.6,53,0.9c23.2,0.4,18.9-0.4,39.2,0.1c18.1,0.4,20.7,1,34.3,0.8 c10.8-0.1,11.2-0.5,26.6-0.8c11.5-0.2,21.1-0.1,27.6-0.1c12.7,0.1,13.7,0.3,23,0.3c13.9,0.1,19.4-0.3,31.3-0.5 c22.5-0.3,20.1,0.7,39.9,0.4c25.9-0.4,35.3-2.2,51.8,2.2C331.5,4.6,335.4,6,338,7');
}



}




 /*Barco Inicio */ 

 #Barco00{
	 animation-iteration-count: infinite;
	 animation-duration: 10s;
	 animation-timing-function: linear;
	 animation-name:movimiento_barco ;
position: absolute;
 }

#ola_borde_barco00{
animation-name: ola_movimiento_barco00;
animation-iteration-count: infinite;
animation-duration: 0.5s;
	
}


@keyframes ola_movimiento_barco00 {
	


50%{
	d:path("M18.9,56c0-1.3,3-3.8,5.4-3.6c0.8,0.1,1.4,0.5,2.4,0.3c1.5-0.4,1.7-1.6,2.8-1.7c1.3-0.1,1.5,1.5,3.2,1.9 c1.8,0.4,2.6-1.3,4.2-0.8c1.6,0.4,1.6,2.1,3,2.2c1.2,0.1,1.4-0.9,2.8-0.9c1.6,0,1.8,1.3,3.6,1.6c1.7,0.3,2.1-0.9,4.2-1.1 c2.5-0.2,2.7,1.5,5.2,1.5c2.8,0,3.3-2.2,6.3-2.1c1.7,0.1,1.8,0.8,4.1,0.9c0.9,0,2.4,0.1,4.1-0.7c1.8-0.8,1.5-1.7,3-2.2 c2-0.8,2.7,0.6,5.6,0.2c1.9-0.3,2.5-1,3.5-0.6c1,0.5,1.6,1.9,1.5,2.6c-0.3,2.1-6.8,3.1-28.8,4.4C32.1,59.4,18.9,57.1,18.9,56z");
}




}


@keyframes movimiento_barco {
	

	25%{transform: rotate(5deg) translate(2rem,1.3rem);
}

75%{
	transform: rotate(-5deg) translate(-1rem,0.3rem);
}


}





	.Barco00_st0{fill:#D69C62;stroke:#CA9E67;stroke-width:0.1;stroke-miterlimit:10;}
	.Barco00_st1{fill:#D8AA82;stroke:#CA9E67;stroke-width:0.1;stroke-miterlimit:10;}
	.Barco00_st2{fill:#DBAF8F;stroke:#CA9E67;stroke-width:0.1;stroke-miterlimit:10;}
	.Barco00_st3{fill:#CEA68A;stroke:#CA9E67;stroke-width:0.1;stroke-miterlimit:10;}
	.Barco00_st4{fill:#CCBC93;stroke:#CA9E67;stroke-width:0.1;stroke-miterlimit:10;}
	.Barco00_st5{fill:#E3BA9C;stroke:#CA9E67;stroke-width:0.1;stroke-miterlimit:10;}
	.Barco00_st6{fill:#E8C5AC;stroke:#CA9E67;stroke-width:0.1;stroke-miterlimit:10;}
	.Barco00_st7{fill:#F5CDB0;stroke:#CA9E67;stroke-width:0.1;stroke-miterlimit:10;}
	.Barco00_st8{fill:#F7F7DF;}
	.Barco00_st9{fill:#D6B996;}
	.Barco00_st10{fill:none;stroke:#000000;stroke-width:1.000000e-02;stroke-miterlimit:10;}
	.Barco00_st11{stroke:#F6F6F6;stroke-width:0.25;stroke-miterlimit:10;}
	
	.Barco00_st13{fill:#D8B59E;stroke:#CA9E67;stroke-width:0.1;stroke-miterlimit:10;}
	.Barco00_st14{fill:#E8D4C9;stroke:#CA9E67;stroke-width:1.000000e-02;stroke-miterlimit:10;}
	.Barco00_st15{fill:#D8CAC3;stroke:#CA9E67;stroke-width:1.000000e-02;stroke-miterlimit:10;}
	.Barco00_st16{fill:#E0BFA9;stroke:#CA9E67;stroke-width:0.1;stroke-miterlimit:10;}
	.Barco00_st17{fill:#CEA78E;}
	.Barco00_st18{fill:#D8B295;}



#vela_01{
	animation-name: vela_flameo_01;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-duration: 7s;
}

#vela_02{
	animation-name: vela_flameo_02;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-duration: 7s;
}

@keyframes vela_flameo_02 {
	50%{
		d:path("M76.1,35c-0.8,1-7.1-4.7-14.3-3.3c-2.6,0.5-4.6,1.8-6,3c-0.3-3.6-0.7-7.3-1-10.9c-0.4-4.3-0.8-8.6-1.3-12.9 c1.3,0.7,4.7,2.2,8.9,1.5c1.6-0.3,3-0.8,4-1.4c-0.4,2.9-0.4,6.9,1.2,11.2C70.4,29.9,76.8,34.1,76.1,35z");
	}
}
@keyframes vela_flameo_01 {
	

50%{
d:path("M52,35c-1.2,1.8-8.8-3.2-18.9-0.8c-1,0.2-2,0.5-2.9,0.8c2-2.1,5.8-6.5,7.5-13.3c1.1-4.4,1-8.2,0.7-10.7 c1.2,0.5,3.1,1.2,5.3,1.4c3.5,0.3,6.3-0.7,7.7-1.3c-2.7,2.7-6.1,6.9-5.7,11.8C46.2,29.4,53.1,33.3,52,35z");



}


}




  /*Barco Fin */ 



  /*Nubes Inicio  */


  .img_nubes{
  position: absolute;
z-index: 0;
animation-iteration-count: infinite;
animation-timing-function: linear;
opacity: 0;

}


@keyframes nube_movimiento00 {
	0%{display: block;
		transform: translate(110vw);}

	30%{opacity: 0.6;}
    80%{opacity:0.2;}

	100%{display: block;
		transform: translate(-110vw);}
}

  /*Nubes Fin  */